.users_page {
	flex-grow: 1;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.users_wrapper {
	display: block;
	color: var(--white-color);
	text-align: center;
	letter-spacing: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.users_title {
	font-size: 18px;
	cursor: default;
}