.posts {
	padding: 30px 0;
	background-color: var(--secondary-light);
}

.posts_top,
.works_top {
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.link {
	color: var(--secondary-color);
}



@media (max-width: 800px) {

	.posts_top,
	.works_top {
		justify-content: center;
	}

	.works_top {
		padding-bottom: 0;
	}

	.link {
		display: none;
	}
}