.form {
	padding: 30px 60px;
	margin-bottom: 43px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;
	background-color: var(--color-light);
	border: none;
	border-radius: 20px;
}

.form_wrapper {
	max-width: 545px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 34px;
}

.select_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;
	width: 100%;
}

select,
.thema {
	appearance: none;
	outline: 0;
	box-shadow: none;
	cursor: pointer;
	border: none;
	width: 100%;
	height: 40px;
	padding: 7px;
	font-size: 20px;
}

.thema {
	outline: auto;
}

.select_weight,
.select_day {
	position: relative;
	max-width: 250px;
	width: 100%;
	background-color: var(--color-white);
	border: 1px solid var(--color-black);
}

.select_day::after,
.select_weight::after {
	content: url('./media/arrow.png');
	position: absolute;
	padding: 3px 10px;
	right: 0;
	background-color: var(--color-white);
	border-left: 1px solid var(--color-black);
	cursor: pointer;
	pointer-events: none;
}

.thema {
	border: 1px solid var(--color-black);
}

.btn {
	position: relative;
	width: 163px;
	height: 45px;
	font-size: 20px;
	justify-self: end;
	align-self: end;
	background-color: var(--color-brand);
	color: var(--color-white);
	border: 1px solid black;
	border-radius: 23px;
	cursor: pointer;
	outline: none;
	transition: background-color var(--hover-time) ease, border-color var(--hover-time) ease;
}

.btn:focus {
	border-color: var(--color-brand);
}

.btn:hover {
	background-color: var(--color-accent);
	border-color: var(--color-black);
}

.btn:active {
	top: 1px;
}

@media (max-width:680px) {
	.form {
		padding: 30px 20px;
	}

	.form_wrapper {
		max-width: 100%;
	}

	.select_weight,
	.select_day {
		max-width: 100%;
	}
}