.task_item {
	position: relative;
	padding: 4px 17px;
	color: var(--color-white);
}

.task_content p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

.task_content p {
	position: relative;
	z-index: 20;
	height: 47px;
	line-height: 47px;
}