.products_item {
	padding: 15px 15px 30px;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border: 3px solid var(--black-900);
	border-radius: 15px;

	box-shadow: 0 0 15px var(--black-color), inset 0 0 15px var(--black-color), inset 0 0 25px var(--black-900);
	background-color: var(--brand-light);

	overflow: hidden;
	transition: all var(--hover-time) ease;

}

.product_title {
	font-family: cursive;

	text-align: center;
	font-size: 18px;
	cursor: pointer;
	text-shadow: 0 0 15px var(--black-900);

}

.hover_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: -webkit-linear-gradient(top, rgba(44, 44, 44, 0.5) 0%, rgba(19, 19, 19, 1) 100%, rgba(19, 19, 19, 1) 101%);

	border-radius: 15px;
	transform: translateY(100%);
	transition: transform var(--hover-time) ease;
}

.products_item:hover .hover_wrapper {
	transform: translateY(0)
}

.open_card {
	padding: 4px 15px;
	margin-bottom: 30px;

	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;

	border: 2px solid var(--white-color);
	border-radius: 6px;

	background-color: transparent;
	color: var(--white-color);

	cursor: pointer;
	outline: none;
	transition: border-color var(--hover-time) ease, color var(--hover-time) ease;

}


.open_card:hover {
	border-color: var(--brand-color);
	color: var(--brand-color);
}

.open_card:active {
	top: 1
}