.cart_item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: minmax(250px, 1fr);
	align-items: self-start;

	border: 3px solid var(--black-900);
	border-radius: 15px;

	box-shadow: 0 0 15px var(--black-color), inset 0 0 15px var(--black-color), inset 0 0 25px var(--black-900);
	background-color: var(--brand-light);

	overflow: hidden;
}


@media screen and (max-width: 992px) {
	.cart_item {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}

}

.image_wrapper {
	position: relative;

	padding: 15px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--white-color);
	box-shadow: inset 0 0px 15px var(--black-color);
	overflow: hidden;
}

.image_wrapper div:before {
	position: absolute;
	z-index: 20;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color var(--hover-time) ease;
}

.cart_image {
	width: 100%;
	height: 250px;

	object-fit: contain;

	transform: scale(0.9);
	transition: transform var(--hover-time) ease;
}

.image_wrapper:focus div::before {
	background-color: var(--black-200);
}

.image_wrapper:hover .cart_image {
	transform: scale(1);
}

.cart_content {
	padding: 25px 40px 25px 25px;

	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 25px;
}

.cart_title {
	font-family: cursive;
	font-size: 22px;

	color: var(--black-color);
	text-shadow: 0 0 15px var(--black-900);
}

.price_wrapper {
	display: flex;
	align-items: center;
	gap: 40px;
}

@media screen and (max-width: 992px) {
	.price_wrapper {
		flex-direction: column;
		align-items: start;
	}
}

.correct_price {
	display: flex;
	align-items: center;
	gap: 20px;
}

.price_title {
	margin-right: 30px;
	position: relative;
}

.price_title span {
	position: absolute;
	top: -2px;
	right: -30px;
}

.correct_btn {
	display: flex;

	width: 40px;
	height: 40px;
}

.correct_btn button {
	width: 100%;
	height: 100%;
}

.remove_btn {
	display: flex;
	justify-content: end;
}

@media screen and (max-width: 460px) {

	.cart_content {
		padding: 30px 20px;
	}

	.remove_btn button {
		width: 100%;
	}

}