.work_item {
	padding: 30px 0;

	display: flex;
	justify-content: space-between;
	gap: 20px;

	border-bottom: 1px solid var(--border-color);
}

.img_wrapper {
	flex-shrink: 0;
	max-width: 245px;
	width: 100%;
	height: 180px;
}

.img_wrapper img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.work_title {
	font-weight: 700;
	font-size: 30px;
	line-height: 30px;
	color: var(--dark-color);
	transition: color var(--hover-time) ease;
}

.work_title:hover {
	color: var(--secondary-color)
}

.meta_wrapper {
	padding: 10px 0 20px;
	font-size: 20px;
}


.meta_wrapper span:nth-child(1) {
	display: inline-block;
	margin-right: 20px;
	padding: 4px 12px 2px;

	font-size: 18px;
	line-height: 18px;

	border-radius: 25px;
	background-color: var(--date-color);
	color: var(--white-color);
}

.meta_wrapper span:nth-child(2) {
	color: var(--light-color);
}

@media (max-width: 600px) {

	.img_wrapper {
		max-width: 100%;
		height: 230px;
	}

	.work_item {
		padding: 20px 0;
		flex-direction: column;
		align-items: center;
	}

	.work_title {
		font-size: 24px;
	}

	.meta_wrapper {
		font-size: 16px;
	}

	.meta_wrapper span:nth-child(1) {
		font-size: 16px;
	}
}