.footer {
	padding: 50px 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 26px;
}

.wrapper p {
	font-size: 14px;
}

.media_list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
}

.link {
	position: relative;

	outline: none;
}

.link:focus svg {
	color: var(--primary-color)
}

.link:hover svg {
	color: var(--secondary-color)
}

.link:active {
	top: 1px;
}

.media_list svg {
	font-size: 30px;
	color: var(--dark-color);

	transition: color var(--hover-time) ease;
}

@media (max-width: 600px) {
	.footer {
		padding: 30px 0 40px;
	}
}