.home_page {
	flex-grow: 1;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.home_wrapper {
	display: block;
	color: var(--white-color);
	text-align: center;
	letter-spacing: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.home_title {
	font-family: 'Sarabun', sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	text-shadow: 0 0 20px var(--black-color);
	opacity: .6;
	cursor: default;
}